.formCard {
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  padding: 20px;

  :global {
    .title {
      margin-top: 0 !important;
    }

    .ant-picker {
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-between;
    }
  }
}
